---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'about';
---

<BaseLayout pageTitle={pageTitle}>
	<hr>

	<h3>SilverHairOrTwo</h3>

	<img src="/favicon.png" width="100px" height="100px">
	<br>
	<em>image credit: Kniffed's Minecraft skin</em>

	<p>As might be evident from my name, I have a silver hair strand (or two).</p>

	<p>I would've introduced myself here, but- <em>alright, I give in.</em> I have no excuse.</p>

	<p>Most of my time is spent ranting about the current political situation, but I have not yet lost my ability to write programs and maintain Linux packages.</p>

	<hr>

	<p>This website is a portrayal of one of my identities; the silver hair strand in question is merely a figment of my imagination, but in so, it is proof that my imagination is yet to run dry.</p>
</BaseLayout>
