---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'about';
---

<BaseLayout pageTitle={pageTitle}>
	<p>As might be evident from my name, I have a silver hair strand (or two).</p>
</BaseLayout>
