---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'home';
---

<BaseLayout pageTitle={pageTitle}>
	<hr>

	<h3>SilverHairOrTwo</h3>

	<img src="/favicon.png" width="100px" height="100px">

	<p>welcome to this rather murky corner of the internet!<br>leave your shoes outside, will ya?</p>

	<hr>

	<div style="text-align: left;">
		<h3>socials</h3>
		<ul>
			<li><a href="https://github.com/SilverHairOrTwo">GitHub</a>: SilverHairOrTwo</li>
			<li><a href="https://mastodon.social/@silverhairortwo">Mastodon</a>: @silverhairortwo@mastodon.social</li>
			<li><a href="mailto:silverhairortwo@proton.me">Email</a>: silverhairortwo@proton.me</li>
			<li>IRC (Libera): silverhairortwo</li>
		</ul>
	</div>

	<hr>

	<div style="text-align: left;">
		<h3>RSS</h3>
		<ul><li><a href="https://silverhairortwo.github.io/rss.xml">https://silverhairortwo.github.io/rss.xml</a></li></ul>
	</div>
</BaseLayout>
