---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'home';
---

<BaseLayout pageTitle={pageTitle}>
	<hr>

	<h3>SilverHairOrTwo</h3>

	<img src="/favicon.png" width="100px" height="100px">

	<p>welcome to this rather murky corner of the internet!<br>leave your shoes outside, will ya?</p>

	<hr>

	<div style="text-align: left;">
		<h3>socials</h3>
		<ul>
			<li><a href="https://github.com/SilverHairOrTwo">GitHub</a></li>
			<li><a href="https://mastodon.social/@silverhairortwo">Mastodon</a></li>
			<li><a href="https://bsky.app/profile/silverhairortwo.bsky.social">Bluesky</a></li>
		</ul>
	</div>
</BaseLayout>
